/* volume-slider */
.volume-slider {
  appearance: none;
  width: 95px;
  height: 2px;
  transform: rotate(270deg) translateX(-100px) translateY(16px);
  @apply bg-zinc-200 origin-left cursor-pointer;
}

.volume-slider::-webkit-slider-thumb {
  appearance: none;
  width: 8px;
  height: 8px;
  @apply bg-green-500 rounded-full;
}
