:root {
  --rv-primary-color: #00a63e;
}

/* customized-scrollbar */
[data-customized-scrollbar]::-webkit-scrollbar,
[data-customized-scrollbar]::-webkit-scrollbar-button,
[data-customized-scrollbar]::-webkit-scrollbar-track-piece,
[data-customized-scrollbar]::-webkit-scrollbar-corner,
[data-customized-scrollbar]::-webkit-resizer {
  background: none;
}

[data-customized-scrollbar]::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

[data-customized-scrollbar]::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, .1);
}

[data-customized-scrollbar]::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, .2);
}

.mxwy-sentence-character::after {
  content: attr(data-pinyin);
  display: inline-block;
  position: absolute;
  z-index: 0;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 75%;
  font-family: '印氪先生汉语拼音 人教版W3';
}

.mxwy-settings-overlay {
  background: rgba(0, 0, 0, .23);
}
