/* customized-scrollbar */
[data-customized-scrollbar]::-webkit-scrollbar,
[data-customized-scrollbar]::-webkit-scrollbar-button,
[data-customized-scrollbar]::-webkit-scrollbar-track-piece,
[data-customized-scrollbar]::-webkit-scrollbar-corner,
[data-customized-scrollbar]::-webkit-resizer {
  background: none;
}

[data-customized-scrollbar]::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

[data-customized-scrollbar]::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, .1);
}

[data-customized-scrollbar]::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, .2);
}

/* volume-slider */
.volume-slider {
  appearance: none;
  width: 95px;
  height: 2px;
  transform: rotate(270deg) translateX(-100px) translateY(16px);
  @apply bg-zinc-200 origin-left cursor-pointer;
}

.volume-slider::-webkit-slider-thumb {
  appearance: none;
  width: 8px;
  height: 8px;
  @apply bg-green-500 rounded-full;
}
