:root {
  --rv-primary-color: #00a63e;
}

/* customized-scrollbar */
[data-customized-scrollbar]::-webkit-scrollbar,
[data-customized-scrollbar]::-webkit-scrollbar-button,
[data-customized-scrollbar]::-webkit-scrollbar-track-piece,
[data-customized-scrollbar]::-webkit-scrollbar-corner,
[data-customized-scrollbar]::-webkit-resizer {
  background: none;
}

[data-customized-scrollbar]::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

[data-customized-scrollbar]::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, .1);
}

[data-customized-scrollbar]::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, .2);
}

.mxwy-sentence::after {
  content: attr(data-tag);
  @apply hidden absolute z-10 top-0 left-0 px-2 py-1 text-xs text-green-800 bg-green-400/80;
}

.mxwy-sentence:hover::after {
  @apply inline-block;
}

.mxwy-sentence-character::after {
  content: attr(data-pinyin);
  display: inline-block;
  position: absolute;
  z-index: 0;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 65%;
  font-family: 'mxwy-pinyin';
}

.mxwy-settings-overlay {
  background: rgba(0, 0, 0, .23);
}
