@import "tailwindcss";

.flex-center-center {
  @apply flex justify-center items-center;
}

.flex-between-center {
  @apply flex justify-between items-center;
}

.font-kai {
  font-family: 'kai', 'FZKai\-Z03';
}

.font-song {
  font-family: 'Songti SC';
}
