@import "tailwindcss";

.flex-center-center {
  @apply flex justify-center items-center;
}

.font-kai {
  font-family: 'kai', 'FZKai\-Z03';
}

.font-py {
  font-family: '印氪先生汉语拼音 人教版W3';
}

.font-song {
  font-family: 'Songti SC';
}
